<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page Not Found</title>
		<link rel="stylesheet" href="main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
	</head>
	<body class="bg-white sm:bg-gray-100 m-0 p-0 font-sans leading-relaxed">
		<div class="sm:bg-white sm:shadow-gray-300 sm:shadow-lg sm:m-6 lg:mx-auto p-6 sm:rounded-xl max-w-4xl">
			<div class="pb-3 border-gray-200 border-b">
				<h1 class="font-bold text-gray-800 text-3xl">Page Not Found</h1>
				<p class="text-gray-600 text-lg basis-full">No page found at this address</p>
			</div>
			<div class="mt-8">
				<a href="/" class="text-blue-600">&laquo; Back to home</a>
			</div>
		</div>
	</body>
</html>
