<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Email Page</title>
		<meta name="description" content="Turn emails into HTML pages" />
		<link rel="stylesheet" href="main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
	</head>
	<body class="bg-white sm:bg-gray-100 m-0 p-0 font-sans leading-relaxed">
		<div class="sm:bg-white sm:shadow-gray-300 sm:shadow-lg sm:m-6 lg:mx-auto p-6 sm:rounded-xl max-w-xl">
			<div class="flex gap-2 pb-2 border-gray-200 border-b">
				<img src="logo-512-transparent.png" alt="Email Page Logo" class="w-16 h-16 grow-0" />
				<div class="grow">
					<h1 class="font-bold text-gray-800 text-3xl">Email Page</h1>
					<p class="my-0 text-gray-600 text-lg basis-full">{{domain}}</p>
				</div>
			</div>
			<div class="mt-4">
				<p>Created by Jordan Roher</p>
				<p><a href="https://github.com/notclickable-jordan/email-page">GitHub repository</a></p>
			</div>
		</div>
	</body>
</html>
