<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Email Page</title>
		<link rel="stylesheet" href="./css/styles.css" />
	</head>
	<body class="m-0 p-0 font-sans leading-relaxed">
		<div class="mx-auto p-6 max-w-4xl">
			<div class="pb-2.5 border-gray-200 border-b">
			<h1 class="font-bold text-gray-800 text-3xl">Email Page</h1>
			<p class="text-gray-600 text-lg">{{domain}}</div>
			</div>
		</div>
	</body>
</html>
